* {
    margin: 0;
    padding: 0;
}

.volver {
    text-decoration: none;
    color: #ADADAD;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 18px;
}

.volver:hover {
    color: #7C7C7C;
}

.paso {
    background-color: #F9F6F6;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 8px;
    color: black;
    text-align: center;
    border-radius: 50%;
}

.paso2 {
    margin-left: 20px;
    margin-right: 20px;
}

.tamanoContenedorPasos {
    width: 800px;
    margin-left: 60px;
    padding: 15px;
}

.seleccionar {
    background-color: blueviolet;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 8px;
    color: white;
    text-align: center;
    border-radius: 50%;
}

main {
    margin-top: 40px;
}

main h1 h2 {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: left;
}

main form {
    width: 800px;
    margin-left: 50px;
    padding-top: 2px;
    background-color: #F9F6F6;
    padding-right: 10px;
    padding-left: 10px;
}

.terminos {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
}

form label {
    font-size: 20px;
    padding-left: 40px;
    padding-top: 5px;
}

.botonesRegistro {
    width: 400px;
}

form input {
    margin-bottom: 10px;
    background: #C1BFBF;
    border: 1px solid #EBEBEB;
}

.caja_opcion {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: #D2D2D2;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.datos {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100;
    height: 50;
    padding-top: 12;
    margin-left: 10px;
    background-color: #D2D2D2;
}

.caja_opcion:hover {
    background-color: rgb(145, 136, 136);
    width: 300px;
    height: 300px;
}

.pregunta {
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-right: 0px;
    width: 500px;
    height: 50px;
    padding-top: 15px;
    background-color: #EEEEEE;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    margin-left: 5px;
}

.preguntas {
    border: 1px solid rgba(0, 0, 0);
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

.eliminarPregunta {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 20px;
    width: 50px;
    height: 50px;
    color: #B8B8B8;
    background-color: #EEEEEE;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.eliminarPregunta:hover {
    color: #fff;
    background-color: #F91616;
}

.prueba {
    display: flex;
}

.tituloFormulario {
    margin-top: -40px;
    margin-bottom: 20px;
}