* {
    margin: 0px;
    padding: 0px;
}

.volver {
    text-decoration: none;
    color: #ADADAD;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 18px;
}

.volver:hover {
    color: #7C7C7C;
}

main {
    margin-top: 40px;
}

main h1 h2 {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: left;
}

.divImagen {
    background-color: #B5AFAF;
    width: 200px;
    height: 200px;
}

form {
    width: 1000px;
    margin-left: 50px;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

.formularioSecundario {
    background-color: #F9F6F6;
}

.form-select-seguido{
    margin-bottom: 10px;
}

form input {
    margin-bottom: 10px;
    background: #C1BFBF;
    border: 1px solid #EBEBEB;
}

