<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/registrarMascota.css">
    <script src="../js/formulario-quiero-adoptar.js"></script>
    <script src="https://kit.fontawesome.com/7fcb757e78.js" crossorigin="anonymous"></script>
    <title>Diseño de sistemas</title>
</head>

<body>
    <!--========================================================== -->
    <!-- ENCABEZADO -->
    <!--========================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light p-3" id="menu" style="background-image: url('../img/banner.PNG');  height: 110px">
        <a class="navbar-brand" rel="home" href="../Inicio">
            <img style="max-width:100px;" src="../img/Logo/negro2.png">
        </a>
        <div class="container">
            <a class="navbar-brand" href="../Inicio">
                <span class="fs-5 text-dark fw-bold">Rescate De Patitas</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../Mascotas-Encontradas">Mascotas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Inicio#intro">Sistema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Inicio#seccion-contacto">Contactos</a>
                    </li>
                </ul>
                <a href="../Inicio#intro" class="nav-item nav-link" aria-expanded="false"><img src="../img/Avatar/avatar-gato.png" class="avatar" alt="Avatar" height="50" width="50"><b class="fs-5 text-dark fw-bold">Tom Hanks</b></a>
            </div>
        </div>
    </nav>
    </header>
    <div class="volver">
        <a href="../Inicio" class="volver"><i class="fas fa-angle-double-left"></i>volver </a>
    </div>
    <main class="container">
        <h1>Dar mascota en adopcion</h1>
        <div class="row mt-4">
            <div class="col-12">
                <form action="">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <h5 for="" class="form-label ">¿Ha encontrado la mascota en la calle?</h5>
                            <textarea name="¿Ha encontrado la mascota en la calle?" id="" class="form-control"></textarea>
                        </div>
                        {{#each preguntasDarEnAdopcion}}
                        <div class="col-12 mb-4">
                            <h5 for="" class="form-label ">{{pregunta}}</h5>
                            <textarea name="{{pregunta}}" id="" class="form-control"></textarea>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <div>
                                <button type="button" onclick="enviar()" class="col-12 btn btn-dark mb-3 mt-5" style="background-color: blueviolet;">Publicar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="../js/bootstrap.bundle.min.js "></script>
</body>

</html>