<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="js/mascotas-encontradas.js"></script>
    <title>Diseño de sistemas</title>
  </head>
  <body>
  <!--========================================================== -->
                        <!-- ENCABEZADO -->
  <!--========================================================== -->
  <nav class="navbar navbar-expand-lg navbar-light p-3"  id="menu" style="background-image: url('img/banner.PNG');  height: 110px">
    <a class="navbar-brand" rel="home" href="../Inicio">
      <img style="max-width:100px;"
          src="./img/Logo/negro2.png">
    </a>
    <div class="container">
      <a class="navbar-brand" href="../Inicio">
          <span class="fs-5 text-dark fw-bold">Rescate De Patitas</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Mascotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Inicio#intro">Sistema</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Inicio#seccion-contacto">Contactos</a>
            </li>
        </ul>
        <a href="../Perfil/1"class="nav-item nav-link" aria-expanded="false"><img src="img/Avatar/avatar-gato.png" class="avatar" alt="Avatar" height="50" width="50"><b class="fs-5 text-dark fw-bold">Tom Hanks</b></a>
      </div>
    </div>
  </nav>
<!--========================================================== -->
                        <!--TITULO-->
<!--========================================================== -->
<section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
  <h1 class="p-3 fs-2 border-top border-3">Mascotas Encontradas</h1>
    <div class="col-sm-9 text-secondary">
        <input  type="button" class="btn btn-danger" onclick="encontreUnaMascota()" value="Encontre una Mascota">
    </div>
  </section>

<!--========================================================== -->
                        <!--GALLERIA-->
<!--========================================================== -->
<br>
<br>
<br>

<div id="carousel" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/perros/Alfred/Alfred.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Alfred</h5>
                <p class="card-text">
                    Encontrado el 21/05/2021
                </p>
                <a href="detalle-mascota-encontrada.html" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/perros/Baltazar/Baltazar.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Baltazar</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/perros/Canela/Canela.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Canela</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/perros/Moncho/Moncho.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Moncho</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/perros/Petaca/Petaca.png"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Petaca</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/perros/SN/Sin nombre.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Sin Nombre</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>    
 

<div id="carouselGatos" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/gatos/Almendra/Almendra.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Almendra</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/gatos/Chimuelo/Chimuelo.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Chimuelo</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/gatos/Lasagna/Lasagna.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Lasagna</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
                 <button class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/gatos/SN1/SinNombre1.jpg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Sin Nombre</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/gatos/SN2/SinNombre2.jpeg"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Sin Nombre</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="./img/MascotasEncontradas/gatos/SN3/SinNombre3.png"
                class="card-img-top"
                alt="..."
                height="300"
              />
              <div class="card-body">
                <h5 class="card-title">Sin Nombre</h5>
                <p class="card-text">
                    Encontrado el 01/01/2021
                </p>
                <a href="#!" class="btn btn-secondary" style="background-color: blueviolet;">Detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselGatos"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselGatos"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 

<!--========================================================== -->
                        <!--FOOTER-->
<!--========================================================== -->


<footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
  <div id="iconos" >
      <a href="https://www.instagram.com/adopterosargentina/?hl=es-la" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/adopterosargentina/?hl=es-la" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.instagram.com/adopterosargentina/?hl=es-la" target="_blank"><i class="bi bi-instagram"></i></a>
  </div>
</footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="main.js"></script>
     <div class="pop-up verModal" id='popUp'>
    <div class="pop-wrap">
      <div class="pop-mensaje">
        <div class="salir">
          <div class="sal-mod" onclick="salir()">
            <p>x</p>
          </div>
          
        </div>
        <div class="titulo">
          <h3>Mensaje para Rescatista</h3>
        </div>
        <form action="" class="form">
          <div class="textArea">
            <textarea class="form-control" aria-label="With textarea" cols="40" rows="5" placeholder="redacte su mensaje"></textarea>
          </div>
          <div class="boton">
            <button type="button" class="btn btn-secondary" style="background-color: blueviolet;" onclick="enviarMensaje()">enviar</button>
          </div>
         
        </form>
      </div>
    </div>
  </div>
  </body>
</html>